<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Customer form</title>

    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles.css}"/>

</head>
<body>

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">Good Coffee</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/api/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/api/knowCoffee}">Know your coffee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/api/products}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/api/orders}">Basket</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/api/form}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/account}">Account</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br>
<div class="col-md-6 col-sm-8 mx-auto my-5">
    <form th:object="${customer}" method="post" novalidate>
        <h1>Fill order form</h1>
        <hr>
        <div class="mb-3">
            <label for="firstName" class="form-label">First name: </label>
            <input type="text" class="form-control" th:field="*{firstName}" id="firstName" th:errorclass="is-invalid"
                   placeholder="">
            <div id="validationFirstName" class="invalid-feedback" th:errors="*{firstName}"></div>
        </div>

        <div class="mb-3">
            <label for="lastName" class="form-label">Last name: </label>
            <input type="text" class="form-control" th:field="*{lastName}" id="lastName" th:errorclass="is-invalid"
                   placeholder="">
            <div id="validationLastName" class="invalid-feedback" th:errors="*{lastName}"></div>
        </div>

        <div class="mb-3">
            <label for="emailAddress" class="form-label">Email address: </label>
            <input type="email" class="form-control" th:field="*{emailAddress}" id="emailAddress"
                   th:errorclass="is-invalid" placeholder="name@example.com">
            <div id="validationEmail" class="invalid-feedback" th:errors="*{emailAddress}"></div>
        </div>

        <div class="mb-3">
            <label for="phoneNumber" class="form-label">Phone number: </label>
            <input type="text" class="form-control" th:field="*{phoneNumber}" id="phoneNumber"
                   th:errorclass="is-invalid" placeholder="">
            <div id="validationPhoneNumber" class="invalid-feedback" th:errors="*{phoneNumber}"></div>

        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Street: </label>
            <input type="text" class="form-control" th:field="*{address}" id="address" th:errorclass="is-invalid"
                   placeholder="">
            <div id="validationStreet" class="invalid-feedback" th:errors="*{address}"></div>
        </div>

        <div class="mb-3">
            <label for="city" class="form-label">City: </label>
            <input type="text" class="form-control" th:field="*{city}" id="city" th:errorclass="is-invalid"
                   placeholder="">
            <div id="validationCity" class="invalid-feedback" th:errors="*{city}"></div>
        </div>

        <button type="submit" class="btn btn-warning">Save</button>


    </form>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>

<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js}"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

</body>
</html>